
a {
	color: #3c41ff;
    text-decoration: none;
}
a:hover	{
    text-decoration: underline;
}
a:visited,a:active,a:focus  {
    text-decoration: none;
}    


a:hover h4 {
    text-decoration: underline;
    color: black !important;
}
section {padding: 6rem 0;}






input[type="submit"], a.button, button {
    background: #3c41ff !important;
    border-color: #3c41ff !important;
    border-radius: 3px !important;
    color: #fff !important;
    
    margin: 0 0 0.5rem 0;    
}

input[type="submit"]:hover, a.button:hover, a.button:active, a.button:visited, a.button:focus, button:hover, button:active, button:visited, button:focus {
    background: #3c41ff;
    border-color: #3c41ff;
}

.has-small-width {
    font-size: 1.8rem;
    line-height: 1.8;
}

.has-small-width p {
    margin-bottom: 4.5rem;
}

.has-small-width h4 {margin: 4rem 0 1.5rem;}