
a {
 
    text-decoration: none;
}
a:hover	{
    text-decoration: underline;
}
a:visited,a:active,a:focus  {
    text-decoration: none;
}    


a:hover h4 {
    text-decoration: underline;
    color: black !important;
}
//section {padding: 6rem 0;}

// main {background: #f9fbfd}

.os-projects. .blog-title {
    color: #999;
}

.os-projects .wrapper {
    padding-left: 0;
    padding: 0;
    margin-left: 50px;
}

.os-projects img {
    height: 25px;
    width: 25px;
    margin: 0 25px 0 0;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 800px) {
.os-projects .two-thirds  {
    width: calc(100% - 50px);
}


}

.date_added {
    color: #222;
    
}



.has-small-width {
    font-size: 1.8rem;
    line-height: 1.8;
}

.has-small-width p {
    margin-bottom: 4.5rem;
}

.has-small-width h4 {margin: 4rem 0 1.5rem;}


.utterances {
    max-width: 100%;
}

nav ul li a, nav ul li a:visited {
    color: #b6beb8 !important;
}


@media only screen and (min-width: 800px) {
    nav ul li a.active {
        color: #fff !important;
    }
    
    
    }
