.avatar {
  width: 90px !important;
  height: 90px !important;
  background-size: contain;
  /* margin: auto 0; */
  object-fit: cover;
  border-radius: 50%;
  /* border: 20px solid; */
  box-shadow: 1px 0 3px rgba(40,43,48,.4), 0 1px 4px rgba(40,43,48,.1);
}