@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(10,16,64,.2);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(10,16,64,.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(10,16,64,.2);
		transform: translatey(0px);
	}
}

.floating {
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}