.images-showcase .column {
  padding: 3rem;
}

.showcase {
  background: #1a1717;
}

.showcase img {
  max-width: 80%;
  margin: 5rem 0;
  height: 297px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 35px 0 rgba(0, 0, 0, 0.15);
  -moz-border-radius: 7px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

@media only screen and (max-width: 800px) {
  .showcase img {
    margin:0;
    height: auto;
  }
}
.showcase h4 {
  padding-top: 2rem;
  margin: 0;
  line-height: 1.25;
  font-size:2rem;
  color: #1a202c;
}

.showcase .description {
  color: #718096;
  margin-bottom:10px;
}