---
layout: default
---


<div id="wrap">


  
    <div class="has-full-width" id="intro">
        

        <div class="container">

          
                <section>
                    <div class="columns ">
                        <div class="two-thirds column">

                            <h1>Jeffrey Overmeer</h1>
                            <hr class="stripe" />
                            <p class="">Trotse vader van Jax, marketing automation enthusiast, web & e-mail developer, Selligent- Clang en Salesforce MC specialist.</p>
                   
                           

                        </div>

                    </div>
                </section>
            
        
        </div> 
    </div>

  
    <div class="has-full-width">
            <div class="columns ">
               <div class="half column text-center" style="background-color:#deecfc;">
                  <div class="showcase">
                     <a href="http://www.zorgperfect.nl" target="_BLANK"><img src="/images/portfolio/zorgperfect.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
               <div class="half column text-center"  style="background-color:#fcf5ee;">
                  <div class="showcase">
                     <a href="https://www.jeffreyovermeer.com/helder-css-framework" target="_BLANK">
                     <img src="/images/blog/mockup_helder.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
            </div>
         </div>

      
 
    <div class="has-full-width">

        <div class="container">
            <section>

                      
                    <h1 class="is-title">Open source</h1>
                    <hr class="stripe" />
                    <p>Beschikbaar voor iedereen.</p>                
                    {% include projects.html %}

       
    
    
                
                <div class="clearfix"></div>            
        
                
            </section>
        </div>
       
    </div>
      

   
    <div class="has-full-width">

            <div class="container">
                <section>
    
                          
                        <h1 class="is-title">Stories</h1>
                        <hr class="stripe" />
                        <p>Tips, projecten en persoonlijke ervaring op het (e-mail)marketingvlak.</p>                
    
                        {% for post in site.posts limit:5 %}
                    <div class="columns" style="padding-bottom:10px;border-bottom: 1px solid #efefef;margin-bottom: 20px;">
                            <div class="two-thirds column">
                                <a href="" class="date_added"><time>{{ post.date | date: "%b %-d, %Y" }}</time></a>  - {{ post.label }}
                                <br /><a href="{{ post.url | prepend: site.baseurl }}" style="color:#999">{{ post.title }}</a>
                            </div>
                            <div class="third column hide-mobile">
                                <img src="../{{ post.thumbnail }}" alt="{{ post.title }}" class="responsive-image hide-mobile" style="width: 180px;">
                            </div>
                    </div>
                    {% endfor %}
        
    
           
        
        
                    
                    <div class="clearfix"></div>            
            
                    <a class="button" href="blog/index.html">Bekijk alle stories <i class="fas fa-arrow-right" style="margin:0 10px;"></i></a>
                </section>
            </div>
           
        </div>
      





