<footer>
  <div class="container">
     <p>&copy; 2021. Made by Jeffrey Overmeer. 
     <a href='&#109;ail&#116;&#111;&#58;he&#108;l%&#54;F&#64;&#37;&#54;Aeffreyov%65rme&#37;65r&#46;&#99;&#111;m' style="">Get in touch!</a>
    </p>

  </div>
</footer>
<script async src="https://www.jeffreyovermeer.com/helder-css-framework/js/prism.js"></script>
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113733633-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-113733633-1');
</script>