
<footer id="light">
		<div class="container">
			<section>
				<div class="columns">
					<div class="half column">
						<h5>Menu</h5>
						<a href="/index.html" title="Home">Home</a> <br />
						<a href="/about.html" title="About">Over mij</a>  <br />                    
						<a href="/blog/index.html" title="Articles">Artikelen</a><br /> 
						<a href="/contact.html" title="Contact">Contact</a> 
					</div>
					<div class="half column">
						<h5>Mailinglijst</h5>
						<form>
								<p>Schrijf je in en ontvang updates.</p>     
								<input type="email" required placeholder="Email">
								<button type="submit">Inschrijven&nbsp;&nbsp; <i class="fas fa-arrow-right"></i></button>
							</form>   					
					</div>
				</div>
			</section>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://www.jeffreyovermeer.com/helder-css-framework/js/prism.js"></script>