


<div class="section">
<h3>Generators</h3>
<p>Are you tired of doing everything manually? Let's face it, who has the time for that? Luckily, you can use the generators below to make your marketing journeys even faster and better. Save yourself some time and effort by using these handy tools.</p>



<section class="cards">


	
	
   <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/textgenerator.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="/text-generator">Text generator</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
          Transform your text by converting it from lowercase to uppercase or vice versa. This tool allows you to easily switch between the two case types with just a few clicks.
         </p>
      
        </div>
        
      </div>
     </div>
   
     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/html.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="/emailhtml-generator" alt="">Tidy email HTML generator</a>
        </p>
       
        <div class="card__info">
   
         <p class="card__price"> 
          Fix, tidy up, and verify the HTML of your email with this handy generator. Say goodbye to messy code and hello to clean and valid HTML.
         </p>
      
        </div>     
      </div>
     </div>
   
     

	
  
  </section>




