<div id="navigation">
    
    <nav class="hidemobile">
        <ul class="menu">
            <li>
                <a href="/index.html" {% if page.link == "home" %}class="active"{% endif %} title="Home">Home</a>
            </li>
            <li>
                <a href="/blog/" {% if page.link == "blog" %}class="active"{% endif %} title="Articles">Knowledge Hub</a>
            </li>
            <li>
                <a href="/work/" {% if page.link == "work" %}class="active"{% endif %} title="Work">Case studies</a>
            </li>
            <li>
                <a href="/resources/" {% if page.link == "resources" %}class="active"{% endif %} title="Resources">Resources</a>
            </li>
            <li>
                <a href="/store/" {% if page.link == "store" %}class="active"{% endif %} title="Store">Store</a>
            </li>
        </ul>
    </nav>

    <div id="menuToggle">
        <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>
        
        <ul id="menu">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/blog/" {% if page.link == "blog" %}class="active"{% endif %}>Knowledge Hub</a></li>
            <li><a href="/work/" {% if page.link == "work" %}class="active"{% endif %}>Case studies</a></li>
            <li><a href="/resources/" {% if page.link == "resources" %}class="active"{% endif %}>Resources</a></li>
            <li><a href="/store/" {% if page.link == "store" %}class="active"{% endif %}>Store</a></li>
        </ul>
    </div>

</div>

{% if page.link == "home" %}
    <div class="hero"></div>
{% else %}
    <div class="hero hfixed"></div>
{% endif %}
