<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | Jeffrey Overmeer{% else %}Jeffrey Overmeer - Marigold Engage Expert & Marketing Automation Developer{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Personal website of Jeffrey Overmeer: Expert strategies on Email Marketing Automation, Selligent, Deployteq, and Front-end Development.{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#0067c2">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Source+Serif+4:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ '/css/main26.css' | prepend: site.baseurl }}?v=3">

  <link rel="stylesheet" href="https://www.jeffreyovermeer.com/helder-css-framework/css/prism.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1194105139225227" crossorigin="anonymous"></script>

</head>
