
    <div class="has-full-width navigation-no-logo">
        <div class="container">
        <header class="navigation">
				<div class="brand hide-mobile">
						<a href="#!"></a>
					</div>			
            <nav>
                <div class="items">
                    <ul>
                        <li> <a href="/index.html" title="Home">Home</a> <span>|</span> </li>
                        <li> <a href="/about/" title="About">Over mij</a> <span>|</span> </li>                        
                        <li> <a href="/blog/" title="Articles">Blog</a> <span>|</span> </li>
                        <li> <a href="/contact/" title="Contact">Contact</a>  </li>
                    </ul>

                </div>

            </nav>
        
        </header>
        </div>
    </div>