<div id="latest">
    <div class="container">
        <span class="new">NEW</span> <a href="https://www.jeffreyovermeer.com/wizza-theme/">Wizza Visual Studio Code Theme</a> →
    </div>
</div>
<div id="navigation">
    <nav>
       <ul class="menu">
          <li class="logo"><a  class="logo" href="/index.html">JEFFREY</a></li>
          <!--
          <li> <a href="/index.html" {% if page.link=="home" %} class="active" {% endif %} title="Home">Home</a> </li>
          -->
          <li> <a href="/blog/" {% if page.link=="blog" %} class="active" {% endif %} title="Articles">Articles</a>
          </li>
          <li> <a href="/work/" {% if page.link=="work" %} class="active" {% endif %} title="Work">Work</a> </li>
          <li> <a href="/resources/" {% if page.link=="resources" %} class="active" {% endif %} title="Recources">Resources</a>
            <li> <a href="/about/" {% if page.link=="about" %} class="active" {% endif %} title="About">About</a>
          </li>
       </ul>
    </nav>
 </div>
 {% if page.link != "home" %}
 <div class="breadcrumb">
    <div class="container">
       &larr; <a href="#" onclick="window.history.go(-1); return false;">Back</a>
    </div>
 </div>
 {% endif %}