
<section class="cards">


	
	
   <div class="card">
      <div class="card__image-container">
        <img
         src="/images/buildingblocks.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Email configurator</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
          Platform-agnostic master template made up of reusable building blocks.
         </p>
      
        </div>
        
      </div>
     </div>
   
     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/toolbox.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Interactive elements toolbox</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            Collection of reusable interactive email elements with a special mode to view time estimates and save notes.   
         </p>
      
        </div>
        
      </div>
     </div>
   
     

	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/collection.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Email toolkit</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            Collection of frameworks, templates, tools, workflows, and many more interesting topics to build faster and better emails. This saves time by looking up the same data over and over again.
         </p>
      
        </div>
        
      </div>
     </div>
   
     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/checklist.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Email preflight checklist</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
          Even the most experienced pilots perform a preflight checklist before every flight to make sure all essential parts are in good working order. This is a powerful tool that helps them stay sharp and focused. And the best part? It only takes a few minutes to complete. Keep yourself and your team on track with this helpful email checklist.
         </p>
      
        </div>
        
      </div>
     </div>
    

     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/reporting.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Selligent reporting tool</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
          Get valuable insights into the performance of your email campaigns with this easy-to-use email reporting module. It generates a range of statistics to help you understand how your emails are doing and identify areas for improvement. </p>
      
        </div>
        
      </div>
     </div>
    


     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/upload.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Dynamic email upload tool</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            An dashboard where dynamic content blocks can be added to a customer journey.
           </p>
      
        </div>
        
      </div>
     </div>
    
	  
  
  
  </section>





