
<section class="cards">


	
	
   <div class="card">
      <div class="card__image-container">
        <img
         src="/images/buildingblocks.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Email configurator</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            A platform-independent master template consisting of reusable building blocks.
         </p>
      
        </div>
        
      </div>
     </div>
   
     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/toolbox.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Interactive elements toolbox</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            Collection of reusable interactive email elements with a special mode to view time estimates and save notes.   
         </p>
      
        </div>
        
      </div>
     </div>
   
     

	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/collection.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Email toolkit</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            Collection of frameworks, templates, tools, workflows, and many more interesting topics to build faster and better emails. This saves time by looking up the same data over and over again.
         </p>
      
        </div>
        
      </div>
     </div>
   
     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/checklist.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Email preflight checklist</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            Pilots also perform their preflight checklist on every flight and check all essential parts before taking off. However, experienced they may be. A powerful tool that keeps you sharp with the right subjects and can be completed in a few minutes.
         </p>
      
        </div>
        
      </div>
     </div>
    

     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/reporting.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Selligent reporting tool</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            Email reporting module that easily generates statistics from an email campaign.  </p>
      
        </div>
        
      </div>
     </div>
    


     
	
     <div class="card">
      <div class="card__image-container">
        <img
         src="/images/blog/upload.jpg"
        />
        <p class="card__tag"></p>
      </div>
      <div class="card__content">
        <p class="card__title text--medium">
         <a href="#" alt="">Dynamic email upload tool</a>
        </p>
        <div class="card__info">
   
         <p class="card__price"> 
            An dashboard where dynamic content blocks can be added to a customer journey.
           </p>
      
        </div>
        
      </div>
     </div>
    
	  
  
  
  </section>





