<p>
    In this collection I have collected my favorite email information and also included my own work. I hope these links help you spend more time learning and less time searching.
 </p>
 <h4>Email Design</h4>
 <ul>
    <li><a href="http://email-gallery.com/" target="_BLANK" alt="">Emailgallery</a></li>
    <li><a href="/https://reallygoodemails.com" alt="Reallygoodemails">Really Good Emails</a></li>
    <li><a href="https://emailtuna.com/" target="_BLANK" alt="">Current Trends</a></li>
    <li><a href="https://www.awwwards.com/25-revolutionary-newsletter-design.html" target="_BLANK" alt="">Revolutionary Email Newsletter Designs</a></li>
 </ul>
 <h4>Interactive Email</h4>
 <ul>
    <li><a href="https://reallygoodemails.com/categories/interactive/" target="_BLANK" alt="">Interactive Emails Showcase</a></li>
    <li><a href="https://amp.dev/about/email/" target="_BLANK" alt="">AMP Email</a></li>
    <li><a href="" target="_BLANK" alt="">Revolutionary Email Newsletter Designs</a></li>
    <li><a href="https://github.com/jeffrey-over/amp-email-boilerplate" alt="AMP for e-mail boilerplate">AMP E-mail Boilerplate</a></li>
 </ul>
 <h4>Email Tools</h4>
 <ul>
    <li><a href="/text-generator" alt="Text converter">Text converter</a></li>
    <li><a href="https://headlime.com/" target="_BLANK" alt="AI Marketing copy generator">Marketing Copy Generator (With AI)</a></li>
    <li><a href="/emailhtml-generator" alt="Tidy e-mail HTML generator">Tidy Email HTML generator</a></li>
    <li><a href="https://buttons.cm/" target="_BLANK" alt="Bulletproof  buttons generator">Bulletproof Buttons Generator</a></li>
    <li><a href="/emailhtml-generator" alt="Tidy e-mail HTML generator">Tidy Email HTML generator</a></li>
    <li><a href="https://compressor.io/" target="_BLANK" alt="Image compression">Image Compression</a></li>
    <li><a href="https://howtotarget.email/" target="_BLANK" alt="">How to Target Email Clients</a></li>
    <li><a href="https://proofjump.com/dark-mode-simulator/" target="_BLANK" alt="">Dark Mode for Email Simulator</a></li>
 </ul>
 <h4>Email Templates</h4>
 <ul>
    <li><a href="https://github.com/TedGoas/Cerberus" target="_BLANK" alt="Cerberus">Cerberus</a></li>
    <li><a href="https://github.com/mailchimp/Email-Blueprints" target="_BLANK" alt="Mailchimp Email Blueprints">Mailchimp Blueprints</a></li>
    <li><a href="https://www.campaignmonitor.com/email-templates/responsive/" target="_BLANK" alt="Tidy e-mail HTML generator">Campaignmonitor Responsive Email Templates</a></li>
    <li><a href="https://litmus.com/community/templates" target="_BLANK" alt="Litmus templates">Litmus Email Templates</a></li>
    <li><a href="https://codepen.io/tag/email" target="_BLANK" alt="">Codepen Email tags</a></li>
 </ul>
 <h4>Email Frameworks</h4>
 <ul>
    <li><a href="https://mjml.io/" target="_BLANK" alt="">MJML</a></li>
    <li><a href="https://maizzle.com/" target="_BLANK" alt="">Maizzle</a></li>
 </ul>
 <h4>Email Marketing Insights & Statistics</h4>
 <ul>
    <li><a href="https://docs.google.com/presentation/d/1GvnKKKIFvjyzly5mvr_LLMKMgD4XNWgj1dlbIpSMkfE/edit#slide=id.g273d2bad7e_0_440" target="_BLANK">Accessibility in HTML Email
       </a>
    </li>
    <li><a href="https://emailclientmarketshare.com/" target="_BLANK">Email Client Market Share
       </a>
    </li>
    <li><a href="https://www.getresponse.com/resources/reports/email-marketing-benchmarks" target="_BLANK">Email Marketing Benchmarks
       </a>
    </li>
    <li><a href="https://blog.boomerangapp.com/2016/02/7-tips-for-getting-more-responses-to-your-emails-with-data/" target="_BLANK">7 Tips for Getting More Responses to Your Emails (With Data!)
       </a>
    </li>
 </ul>
 <h4>Productivity Tips & Tools</h4>
 <ul>
    <li><a href="https://zenhabits.net/big-rocks-first-double-your-productivity-this-week/" target="_BLANK">Big Rocks First: Double Your Productivity
       </a>
    </li>
    <li><a href="https://www.jeffreyovermeer.com/booknotes-atomithabits">Small habits make a big difference
       </a>
    </li>
    <li><a href="https://www.notion.so/personal" target="_BLANK">Write, plan, & get organized in one place
       </a>
    </li>
    <li><a href="https://code.visualstudio.com/" target="_BLANK">Visual Studio Code - Code Editing Redefined.
       </a>
    </li>
    <li><a href="https://simpl.fyi/" target="_BLANK">Simplify - Extension that makes Gmail more simple, capable, and respectful.
       </a>
    </li>
 </ul>