
<dl>
        <dt><a href="http://www.zorgperfect.nl" target="_BLANK">Zorgperfect</a></dt>
        <dd>Website voor het thuiszorgbedrijf van mijn schoonmoeder.
     </dd>
     <dt><a href="http://www.dm-interface.nl" target="_BLANK">Emailconfigurator</a></dt>
     <dd>Een platform onafhankelijke mastertemplate die bestaat uit herbruikbare bouwstenen. 
  </dd>
  <dt><a href="https://www.jeffreyovermeer.com" target="_BLANK">Jeffrey Overmeer</a></dt>
  <dd>Mijn eigen website.
</dd>

<dt><a href="https://www.jeffreyovermeer.com/helder-css-framework/" target="_BLANK">Helder CSS Framework</a></dt>
<dd>Helder is een CSS framework en SASS boilerplate zonder poespas met minimalistische vormgegeven componenten zoals formulieren, cards en tabellen en zorgt voor consistentie tussen browsers.
</dd>

<dt><a href="#" target="_BLANK">Interactive elements toolbox</a></dt>
<dd>Mijn eigen website.
</dd>

<dt><a href="#" target="_BLANK">E-mail toolkit</a></dt>
<dd>Mijn eigen website.
</dd>

<dt><a href="#" target="_BLANK">Email preflight checklist</a></dt>
<dd>Mijn eigen website.
</dd>

<dt><a href="#" target="_BLANK">Selligent reporting tool</a></dt>
<dd>Mijn eigen website.
</dd>


<dt><a href="#" target="_BLANK">Dynamic email uploadtool</a></dt>
<dd>Mijn eigen website.
</dd>
</dl>     
