<div class="columns os-projects" style="padding-bottom:10px;border-bottom: 1px solid #efefef;margin-bottom: 20px;">
  <div class="full column" style="padding-left:0;">
      <img src="https://www.jeffreyovermeer.com/helder-css-framework/images/favicon.png"><strong><a href="https://www.jeffreyovermeer.com/helder-css-framework/" target="_BLANK">Helder CSS Framework</a></strong><br />
      
      
    </div> 
    <div class="two-thirds column" style="padding-left:0;">
    
      CSS framework en SASS boilerplate met minimalistische vormgegeven componenten. Zorgt voor consistentie tussen browsers.
    </div> 
  
  <div class="third column hide-mobile" style="text-align:right;">
      <a class="github-button" href="https://github.com/jeffrey-over/helder-css-framework" data-icon="octicon-star" data-show-count="true" aria-label="Star jeffrey-over/helder-css-framework on GitHub">Star</a>
  </div>
</div>


