
 <div class="section">
    <h3>Wallpapers</h3>
  
   

    <section class="cards">


	
	
        <div class="card">
           <div class="card__image-container">
             <img
              src="https://public-files.gumroad.com/variants/1bmvh932tj3lcmmo1qh4xozvczh2/e62e4bcd3d858e4839b5c2b465bae257f22dc2666e91f438860b8031380a9984"
             />
             <p class="card__tag"></p>
           </div>
           <div class="card__content">
             <p class="card__title text--medium">
              <a href="https://jeffreyovermeer.gumroad.com/l/wallpaperpack1" alt="">Wallpaperpack Summer 22</a>
             </p>
             <div class="card__info">

                <p class="card__price"><A href="https://jeffreyovermeer.gumroad.com/l/wallpaperpack1" target="_blank">Download for free →</A></p>
              <!--  <p class="card__tag">New</p>-->
              </div>
             
           </div>
          </div>
        
          
        
       
       </section>
     
     
     
   


</div>
