
 
<div class="has-full-width" style="">
            <div class="columns " STYLE="max-width: 150%;
            width: 150%;
            margin-left: -25%;">
               <div class="half column text-center">
                  <div class="showcase" style="background: #e6f7ff;">
                     <a href="http://www.zorgperfect.nl" target="_BLANK"><img src="/images/portfolio/zorgperfect.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
               <div class="half column text-center"  >
                  <div class="showcase" style="background:#f5f3f3">
                     <a href="#" target="_BLANK">
                     <img src="/images/portfolio/dmi.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
            </div>
         </div>