<div class="has-full-width" style="margin-top:40px">
            <div class="columns ">
               <div class="half column text-center">
                  <div class="showcase">
                     <a href="http://www.zorgperfect.nl" target="_BLANK"><img src="/images/portfolio/zorgperfect.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
               <div class="half column text-center"  >
                  <div class="showcase">
                     <a href="#" target="_BLANK">
                     <img src="/images/portfolio/dmi.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
            </div>
         </div>