<div class="has-full-width">
            <div class="columns ">
               <div class="half column text-center" style="background-color:#deecfc;">
                  <div class="showcase">
                     <a href="http://www.zorgperfect.nl" target="_BLANK"><img src="/images/portfolio/zorgperfect.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
               <div class="half column text-center"  style="background-color:#f2f1f1;">
                  <div class="showcase">
                     <a href="#" target="_BLANK">
                     <img src="/images/portfolio/dmi.png" class="responsive-image" />
                     </a>
                  </div>
               </div>
            </div>
         </div>