@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    background-color: #fff;
    font-family: 'Inter',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    font-size: 1rem;
    line-height: 2;
    color: #3c4b62;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: rgb(0,122,255);
    text-decoration: none;
}

b, strong {
    font-weight: bolder;
    color: #000000;
}
footer .container, .content-container, .breadcrumb .container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 700px;
}


.flex {display: flex;}
.flex div {flex:1}
#wrapper {padding-top:100px;}
.content-container {
    max-width: 650px;
}
.showcase {
    background: rgb(44, 75, 255);
    
    padding: 80px 50px;
    color:#ffffff;
    align-items: center;
    justify-content: center;
}

.showcase img {
    max-width: 100%;
        border: 3px solid #ffffff;
        /* margin-top: 40px; */
        display: block;
        margin: 40px auto 0;
        border-radius: 3px;
}
.showcase * {color:#ffffff;}
.btn-primary {
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 20px;
    color: #2c4bff;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(65, 45, 47, 0.2);
}


.showcase h5 {margin:0;font-size:14px;font-weight:400}
.showcase h1 {margin:0; font-size:52px; letter-spacing: -2px;}


.showcase div:first-child {
    margin-right: 20px;
} 
.showcase div:last-child {
    text-align: right;
} 

.breadcrumb {
    /*background: #f8f8fc;*/
    /* padding: 0 1rem; */
    /*margin: 0 0 80px 0;*/
}
.breadcrumb a {
    font-size: 14px;
    color: #4e616c;
   // display: block;
    padding: 15px 0;
    letter-spacing: -0.2px;
    text-decoration: none;
}
main {
    //padding-top: 100px;
}

p {
    margin-top: 10px;
    letter-spacing: -0.4px;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    color: #1d1d1f;
    font-family: 'Inter',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1.15;
}


h1 {
    color: #657482;
    font-size: 3rem;
}


h1 b {
    display: block;
    font-weight: 700;
    color: #1d1d1f;
}
#latest {
    background: #000000;
    color: #ccc;
    /* position: fixed; */
    width: 100%;
    /* height: 34px; */
    text-align: right;
    font-size: 11px;
    padding: 10px;
    box-sizing: border-box;
    
}

#latest a {
    color: #ccc;
    text-decoration: none;
}

#latest .container {
    max-width: 80%;
    margin: 0 auto;
}
#latest .new {
    color: #ffffff;
    background: #222;
    padding: 3px 5px;
}
#navigation {
   // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 1;
    //position: sticky;
    //top: 0;
    background: #ffffff;
    border-bottom: 1px solid #f3f3f3;
}
nav {
    max-width: 80%;
    margin: 0 auto;
}
.menu {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menu a {
    margin: 10px 0 10px 30px;
    font-size: 14px;
    color: #4e616c;
    //font-weight: 600;
    display: block;
    padding: 15px 0;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.menu a.active {color: #000000; text-decoration: underline; font-weight: bold;}
.menu a:hover {color: #222222;}
.menu .logo {
    font-size: 1rem;
    color: #000000;
    /* FONT-STYLE: normal; */
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -.1px;
    font-weight: 800;
   
    font-family: 'Inter',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.intro {
    text-align: center;
    margin:0 0 100px 0;
}


.intro p {
    font-size: 1.3rem;
    font-family: 'Inter',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0 auto 10px auto;
    max-width: 500px;

}


.intro a{color:#000000;font-weight:700;}

.selligent {
    color: #00b8fb!important;
    background: rgba(0,161,224,.03);
    padding: 2px;
}

.clang {
    color: #f99d25!important;
    padding: 2px;
    background: rgba(249,157,37,.03);
}


.menu li:first-child {
    margin-right: auto;
    margin-left: 0;

 
}

footer {background: #f8f8fc;padding: 20px 0;font-size:13px; color:#657482;
    position: fixed;
    bottom: 0px;
    width: 100%;}
footer a {color:#657482; text-decoration: none;}

.socials {margin:40px 0 0 0}
.socials img {
    width: 45px;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

.content-container h1 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #1d1d1f;
}

.content-container h3 {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 0;
    color: #1d1d1f
}

.content-container p.intro {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #657482;
    text-align: left;
    margin: 30px 0;
}
.content-container img {
    max-width: 100%;
    margin: 10px 0 0 0;
}


.content-container p, .content-container ul, .content-container li, .content-container dd, .content-container dl {
    font-size: 14px;
    line-height: 28px;
    margin-top: 10px;
    letter-spacing: 0;
    color: #3c4b62;
}


.text-left {text-align: left;}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
}

thead, tfoot {
    @extend .text-left;
    color: $table-heading-font-color;
    vertical-align: bottom;
}

tfoot {
    font-weight: $table-footer-font-weight;
}

td:first-child, .th:first-child {
    border-left-width: 0;
}

th:last-child, td:last-child {
    padding-right: 0;
}

tr:hover {
    background-color: $table-row-hover-background;
}

th, td {
    @extend .text-left;
    padding: $table-cell-padding;
    border-bottom: $table-cell-border;
    font-size: inherit;
    color: inherit;
    margin: $table-cell-margin;
    overflow: visible;
}

td {
    background-color: $table-cell-background;
}

.section h3 {
    padding: 10px 0;
    border-bottom: 3px solid #f3f3f3;
    letter-spacing: normal;
    /* color: #000; */
}

.resources-links h2 {margin-top:50px;}
.resources-links h3 {
    padding: 10px 0;
    border-bottom: 3px solid #f3f3f3;
    letter-spacing: normal;
    margin-top:40px;
}


img.avatar {
    width: 90px !important;
    height: 90px !important;
    background-size: contain;
    /* object-fit: cover; */
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    /* box-shadow: 1px 0 3px rgb(40 43 48 / 40%), 0 1px 4px rgb(40 43 48 / 10%); */
    display: block;
}

.company {
    padding: 2px 5px 2px 3px;
    margin: -2px 0;
    border-radius: 10px;
    line-height: 1.6;
    color: #5AA1E3 !important;
    background: rgba(20,140,252,.08);
}

.company img {
    display: inline-block;
    margin-left: 3px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 2px;
}

.list .flex div {
    margin: 10px 0 10px 20px;
}

.list p {
    margin-top:0;
}
.icon {
    height: 25px;
    width: 25px;
    margin: 20px 0 0 0 !important;
    display: inline-block;
    vertical-align: middle;
}

img.responsive-image:hover {
    transform: scale(1.1);
}

img.fullscreen {
    max-width: 140%;
    width: 140%;
    margin-left: -20%;
}
img.fullscreen {
    border-radius: 10px;
}

.webshowcase {margin-top: 20px;}
.webshowcase img {
    max-width: 80%;
    height: 297px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 5rem auto;
    display: block !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2), 0 2px 35px 0 rgba(0, 0, 0, .15);
    -moz-border-radius: 7px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}


@media (max-width: 800px) {


    .menu {
      padding: 0;
      flex-wrap: wrap;
    }

    .menu a {padding: 5px 0;}
    .menu li:first-child {flex: 100% ;
        margin-left: 0 !important;
    }
    nav {max-width: 100%;}

    main {padding-top:20px}
}

@media (min-width: 801px) {
.webshowcase {
    max-width: 140%;
    width: 140%;
    margin-left: -20%;
}
}