footer {
    @extend .text-left;
    background: $footer-background-color;
    //border-top: 1px solid #262626;
    padding-bottom: 4rem;
    //color: $footer-font-color;
    font-size: $footer-font-size;
    line-height: $footer-line-height;
    letter-spacing: 0;
    margin-top: 50px;
   
    section {
        padding: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff ;
    letter-spacing: -0.5px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
       // font-family: 'Muli', sans-serif;
    }
    a {
        color: #333;
    }
    .column {
        padding-top: 50px;
    }
    p {
        font-size: 1.6rem;
        color: #333;
        //color: hsl(131, 6%, 73%);
    }
    .social {float: unset !important;}
}

@media only screen and (max-width: 800px) {

footer p {
    text-align: left;}
}
@include breakpoint-desktop-up {
    footer {
        text-align: left;
        //padding: $footer-padding-desktop;
    }
}

footer .post.container a {
    color:#333;
    //font-family: inherit;
}

a.social {margin-left: 20px;}

footer .post.container {padding-top: 0;}