@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro&display=swap');

// Headings
h1,h2,h3,h4,h5,h6 {
    margin: $heading-margin;
    color: $heading-font-color;
	font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    //letter-spacing: $heading-letter-spacing;

}    


h1 {font-size: $h1;margin-bottom: 30px;}
h2 {font-size: $h2;}
h3 {font-size: $h3;color: #6e6e6e;margin-top:0;}
h4 {font-size: $h4;}
h5 {font-size: $h5;}
h6 {font-size: $h6;}

.is-serif {font-family: 'Playfair Display', serif;}
.is-light {font-weight: 500;}

.is-title {


    //font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    //font-size: 4rem;
 
    font-weight: 700;
    margin: 0;
    //font-size: 70px;
    letter-spacing: -2.5px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
   // line-height: 70px;  
    margin-bottom: 20px;
  }
  
.is-subtitle {
   // font-size: 20px;
    //line-height: 30px;
    //font-weight: 400;
    //color: rgba(0,0,0,.7);
    margin: 0 0 26px 0;
    //font-style: italic;
  }

.big-font {font-size:2rem;}

// Links
a {
	color: $link-color;
//    text-decoration: none;
    
	&:hover,
	{
		text-decoration: underline;
    }
    &:visited,
    &:active,
	&:focus  {
		text-decoration: none;
	}    
}

.post a, .os-projects a  {
  //color: #000;
  //font-weight: 700;
  //text-decoration: none;
    //background-image: linear-gradient(180deg, transparent 70%, #F0F3F7 0);
}
.os-projects a {
  //background-image: unset;
  //font-weight: 700;
  //letter-spacing: 0;
}
dt {
  // font-weight: bold;
   margin-top: 20px;
 }
 
dd {
   margin: $dd-margin;
   padding: $dd-padding;
   //border-bottom: 4px solid #efefef;


 }

// Blockqoute
blockquote {
    font: $blockqoute-font;
    margin: $blockqoute-margin;
    padding: $blockqoute-padding;
    border-left: $blockqoute-border;
  } 

// Manipulation
b, strong  {
    color: #000;
}

p, dd, dt {
    //font-family: 'Merriweather', sans-serif;
    //letter-spacing: 0.1px;
    //font-weight: 300;
   //` font-size: 18px;
    //line-height: 31px;
    letter-spacing: 0;
    font-weight: 400;
   // line-height: 1.65em;
    padding-bottom: 8px;

}


