---
layout: default
---

<!--
<div id="intro-post" class="container has-FULL-width text-left">
        <section>
    
          
            <h1 class="is-title">{{ page.title }}</h1>
            <hr class="stripe" />
                {% if page.subtitle %} <h3 class="is-subtitle">{{page.subtitle}} </h3>{% endif %}
        </section>
    </div>
    
      -->
    


<div class="container" >

        
            <section>
 
    
                {{content}}
            </section>
       
    </div>