---
layout: default
---
<div class="container">
  

<div class="post content-container">
     
   
   <div class="tag1">{{ page.label }}</div>
  <h2>{{ page.title }}</h2>

  
   {% if page.thumbnail and page.thumbnail != '' %}        
   <div style=""><img  class="thumb" src="{{ page.thumbnail }}" /></div>
   {% endif %}





   {% if page.author %}
   <div class="flex author">
      <img src="/images/ik.png" class="avatar">
      
      <div class="authorname"><span>{{ page.author }}</span><br />
         <div class="date">

            {% assign m = page.date | date: "%-m" %}
                                 
                                 {% case m %}
                                 {% when '1' %}Jan
                                 {% when '2' %}Feb
                                 {% when '3' %}Mar
                                 {% when '4' %}Apr
                                 {% when '5' %}May
                                 {% when '6' %}Jun
                                 {% when '7' %}Jul
                                 {% when '8' %}Aug
                                 {% when '9' %}Sept
                                 {% when '10' %}Oct
                                 {% when '11' %}Nov
                                 {% when '12' %}Dec
                                 {% endcase %}
                                 {{ page.date | date: "%-d" }}, 
                                 {{ page.date | date: "%Y" }} 

         </div>
      </div>
   </div>
   {% endif %}   




   <!--

        <div class="readtime">
       {% capture readtime %}{{ content | number_of_words | plus:91 | divided_by:180.0 | append:'.' | split:'.' | first }}{% endcapture %}
         {% if readtime == '0' %} &lt; 1{% else %}- {{ readtime }}{% endif %} minute(s) reading time
      </div>
     
    
-->




   <p class="intro">{{ page.description }}</p>

  

   {{ content }}
</div>

   <div class="section content-container comments">
   	<section>
      
              <h3>Comments</h3>
                      
              <script src="https://utteranc.es/client.js"
              repo="jeffrey-over/jeffrey-over.github.io"
              issue-term="title"
              theme="github-light"
              crossorigin="anonymous"
              async>
      </script>
      
   
   	</section>
   </div>
     
</div>