---
layout: default
---


<div id="intro-post" class="container has-full-width text-center">
    <section>

        <span style="background: #3c41ff;padding: 3px 7px;color: #74b9ff;">{{ page.label }}</span>
        <h1 class="is-serif">{{ page.title }}</h1>
        <h2 class="is-subtitle"><time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time></h2>
    </section>
</div>

	<div class="post container has-small-width">
		<section>
    
            <p>
                <b>{{ page.description }}</b>
            </p>
			{{ content }}



		</section>
	</div>
   
