#articles {
    background: #f4f4f4;
}
#articles .is-subtitle {
    margin-bottom: 60px;
}

@media only screen and (max-width: 800px) {
    #articles {
    text-align: center;
}
}

#articles .card {
    margin-bottom: 60px;
    min-height: 530px;
}



@include breakpoint-desktop-up {
#articles .card {
    margin: 2rem 3rem 6rem 0;
}
}

#articles .has-padding {
   padding: 4rem 3rem !important;
}

#articles a.button, #articles a.button:hover, #articles a.button:active, #articles  a.button:visited, #articles a.button:focus {
    background: white;
    color: #f03434;
    border-color: #F03434;
}


@include breakpoint-phone-up {
    #articles .container {
        max-width: 80%;
    }
}
@include breakpoint-desktop-up {
    #articles .container {
        max-width: 95%;
    }
}
@include breakpoint-widescreen-up {
    #articles  .container {
        max-width: 95%;
    }
}   


