#articles .is-subtitle {
    margin-bottom: 60px;
}

#articles .card {
    margin-bottom: 60px;
}

#articles .has-padding {
   padding: 4rem !important; 
}

#articles a.button, #articles a.button:hover, #articles a.button:active, #articles  a.button:visited, #articles a.button:focus {
    background: white;
    color: #f03434;
    border-color: #F03434;
}