#dark {
    background: #010101;
}

#light {
    background: #fafafa;
    //border-top: 1px solid #efefef;     
    color: $footer-font-color;   
}

#light h5 {color: rgba(0,0,0,0.88);}

#dark button {
    margin-left: 10px;
    background: #f03434;
    border-color: #f03434;
}

#dark strong {
    color: white;
}

#dark .colofon {
    margin: 0;
    border-top: 0;
    padding-top: 0;
}

#light button {
   
    background: #E5E5E5;
    border-color: #E5E5E5;
    color: #000;
}

#light input, #dark input {
    margin-right: 10px;
}


footer input, footer button {
    height: 50px;
    width: auto !important;
    float: left;
    border-radius: 3px;
    margin: 0 0 0 3px;        
}


