#dark {
    background: #1a1d20;
    color: #656d78;
}

#light {
    background: #f4f3f4;
    //border-top: 1px solid #efefef;     
}

#light h5 {color: rgba(0,0,0,0.88);}
#dark h5 {color: #aab2bd;margin: 0;    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;}
#dark p {margin:14px 0;}

#dark button {
    margin-left: 10px;
    background: #f03434;
    border-color: #f03434;
}

#dark strong {
    color: white;
}

#dark .colofon {
    margin: 0;
    border-top: 0;
    padding-top: 0;
}

#light button {
   
    background: #E5E5E5;
    border-color: #E5E5E5;
    color: #000;
}

#light input, #dark input {
    margin-right: 10px;
}


footer input, footer button {
    height: 50px;
    width: auto !important;
    float: left;
    border-radius: 3px;
    margin: 0 0 0 3px;        
}


