
.navigation-only-logo .navigation {
    padding-top: 30px;
}

@media only screen and (max-width: 800px) {
    .navigation-only-logo .navigation {
        margin-top: 0px;
    }


}


.navigation-only-logo .navigation .button {
    margin-top: 6px;
    padding: 1.2rem 1.4rem;
    //border: 1px solid #ffffff;
    //color: #ffffff;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}



.navigation-logo {
  transition:  0.4s;
   background: #F4F3F4;
   margin: 0 0 50px;
    //border-bottom: 1px solid #262626;
 //border-bottom: 2px solid #efefef;
// border-top: 5px solid $accent-color;
 //padding-top: 40px;
 //color: $nav-font-color;
 //box-shadow: 0 0 20px rgba(0,0,0,.05);
//animation: .55s fade-in-up-lg ease-out;
//border-top: 20px solid #eeeeee;
//border-bottom: 1px solid #eeeeee;
    
}

@media only screen and (max-width: 800px) {
    .navigation-logo  {
        padding:0;
        position: fixed;
    top: 0;
    }

 //   .brand {margin-top:20px;}


}


.navigation-no-logo nav {
   // line-height: $navigation-height;
    text-align: center;
}

.navigation-no-logo nav ul li a, .navigation-no-logo nav ul li a:visited {
    margin-top: 0;
    line-height: inherit;
    text-align: center;
    //color: #fff;

    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    .navigation-no-logo nav {
    background: transparent;
}
.navigation-no-logo nav ul li a, .navigation-no-logo nav ul li a:visited {
    
    padding: 0 5px;
    letter-spacing: unset;
}
}

.navigation-no-logo nav ul {
    font-size: 1.3rem
}





// hamburger menu
$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 40px;
$nav-background: #262626;
$nav-font-color: hsl(0,0%,13%);
$link-hover-color: #2581DC;

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    li {
      display: inline-block;
      a {
        display: block;
        
   
   
        text-decoration: none;
        &:hover {
      
        }
        &:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
        } 
      }
      ul li {
        //min-width: 190px;
        & a {
          //padding: 15px;
          //line-height: 20px;
          z-index: 1;
        }
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;

}
.nav-mobile {
  display: none;
  /*
  position: absolute;
  top: 0;
  right: 0;
  
  height: $nav-height;
  width: $nav-height;*/
}

#nav-toggle {
  position: absolute;
  right: 18px;
  top: 18px;
  z-index: 1;
  cursor: pointer;
  padding: 16px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000000;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }

  .navigation-logo .container {
    width: 100%;
    padding: 0;
}

.brand {padding: 0;}

  .items {
    
    //background: #fff;
    display: block;
    max-width: 100%;
    width: 100%;
   
  }
   nav {
    width: 100%;
    padding: 0 ;
    float: unset;
    ul {
      display: none;
      li {
        float: none;
        display: block;
        padding:10px 50px;
        //margin: 0 0 20px 0;
         a {
          padding: 15px;
          line-height: 20px;
          color: #08122c !important;
          border-bottom:1px solid #f2f2f1;
        }
         a.active {
            color: #08122c !important;
         }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  
 .nav-dropdown {
   position: static;
  }

  nav ul li a, nav ul li a:visited {
    color: BLACK !important;
}
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

.navigation {

}

.nav-container {
 
  margin: 0 auto;
}

.has-full-width.navigation-logo .container {
  max-width: 720px;
}



.breadcrumb {
  background: #f4f3f4;
  padding: 10px;
  margin: inherit;
  font-size: 16px;
}
.breadcrumb a {
  color: #333;
}
