
.navigation-only-logo .navigation {
    padding-top: 30px;
}

@media only screen and (max-width: 800px) {
    .navigation-only-logo .navigation {
        margin-top: 0px;
    }


}


.navigation-only-logo .navigation .button {
    margin-top: 6px;
    padding: 1.2rem 1.4rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}



.navigation-logo {
    border-top: 20px solid #3452FE;
    padding: 30px 0;
    
// border-bottom: 2px solid #efefef;
// box-shadow: 0 0 20px rgba(0,0,0,.05);
animation: .55s fade-in-up-lg ease-out;

    
}

@media only screen and (max-width: 800px) {
    .navigation-logo  {
        padding:0;
    }

    .brand {margin-top:20px;}


}


.navigation-no-logo nav {
    line-height: $navigation-height;
    float: right;
}

.navigation-no-logo nav ul li a, .navigation-no-logo nav ul li a:visited {
    margin-top: 0;
    line-height: inherit;
    text-align: center;
    color: #fff;

    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    .navigation-no-logo nav {
    background: transparent;
}
.navigation-no-logo nav ul li a, .navigation-no-logo nav ul li a:visited {
    
    padding: 0 5px;
    letter-spacing: unset;
}
}

.navigation-no-logo nav ul {
    font-size: 1.3rem
}


