.persona {
    background: rgba(0,0,0,0.98);
    margin-top: 10rem;
}

.persona section {
    padding:7rem 0;
}

.persona h1 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 50px;
}
.persona h4 {
    margin: 10px 0 5px 0;
    font-weight: 500;
    color: #fff;
}
.persona h5 {
    margin-top: 0;
    color: #999;
    font-weight: 500;
}

.persona p {
    padding: 0 10px;
}

.persona .social {color: #999;}