
.pricingplan-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
  }
  
  .plan {
    @extend .has-shadow;
    background: white;
    width: 20em;
    box-sizing: border-box;
    text-align: center;
    margin: 1em;
    margin-bottom: 1em;
  }
  .plan .title-container {
    background-color: rgba(0,0,0,0.88);
    padding: 1.6rem;
  }
  .plan .title-container .title {
    font-size: 1.7em;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
  }
  .plan .title-container .price {
    font-size: 1.45em;
    padding-top: 1em;
    padding-bottom: 0.25em;
    color: white;
    font-weight: 500;
    margin-top: 0;
    display: inline-block;
    width: 80%;
  }
  .plan .title-container .price p {
    font-size: 1.45em;
    display: inline-block;
    margin: 0;
  }
  .plan .title-container .price span {
    font-size: 1.0875em;
    display: inline-block;
  }
  .plan .info-container {
    padding: 1em;
    color: #2d3b48;
    box-sizing: border-box;
  }
  .plan .info-container .description {
    padding: 1em 0;
    border-bottom: 2px solid #efefef;
    margin: 0 auto;
    width: 90%;
  }
  .plan .info-container .description em {
    font-size: 1em;
    font-weight: 500;
  }
  .plan .info-container .features {
    font-size: 1em;
    list-style: none;
    padding-left: 0;
  }
  .plan .info-container .features li {
    padding: 0.5em;
  }
  .plan .info-container .selectPlan {
    border: 2px solid #3c41ff;
    color: #3c41ff;
    padding: 0.75em 1em;
    border-radius: 2.5em;
    cursor: pointer;
    transition: all 0.25s;
    margin: 1em auto;
    box-sizing: border-box;
    max-width: 70%;
    display: block;
    font-weight: 700;
  }
  .plan .info-container .selectPlan:hover {
    background-color: #3c41ff;
    color: white;
  }
  
  @media only screen and (max-width: 800px) {
    .pricingplan-container {
      margin: 0;
    }
    .pricingplan-container .plan {
      width: 100%;
      margin: 1em 0;
    }
  }