
.promotional {
        background: #f9f9f9;
        background-image: url(../images/screen.png);
        background-position: right 5px bottom 25px;
        background-repeat: no-repeat;
        min-height: 400px;
        padding: 70px 0;
}

.effect7
{
    position:relative;
    -webkit-box-shadow:0 10px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 10px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 10px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.promotional-product {
        padding: 0 0 6rem 0;
        //background: #f8f9ff;

        //background-image: url(../images/35.-Ronchi.jpg);
        //background-image: url(https://lstore.graphics/meshgradients/images/39.-Prelude.jpg);
        //background-size: cover; 
        //color: #fff;       
        
}

.promotional-product a.button {
        margin-top: 6rem;
     
    }

//.promotional-product .is-subtitle {color: #ffffff;}
.promotional-product .is-title {
        margin-bottom: 35px;
        
        
}

@media only screen and (max-width: 800px) {
        .promotional-product .is-title {
            font-size:5rem;    
           
        }
    }

.promotional-product p {
        font-size: 2.2rem;
        line-height: 3.4rem;
        margin: 4rem 0;
        
}