
.promotional {
        background: #f9f9f9;
        background-image: url(../images/screen.png);
        background-position: right 5px bottom 25px;
        background-repeat: no-repeat;
        min-height: 400px;
        padding: 70px 0;
}




.promotional-product {
        padding: 0 0 6rem 0;
        background: #1e1e1e;
        background-image: linear-gradient(-180deg, transparent 85%, rgba(0, 0, 0, 0.01) 100%) !important;     
}

.promotional-product a.button {
        margin-top: 6rem;
        color: #ffffff !important;
        background: #1E1E1E !important;
        border-color: #ffffff !important;
    }

.promotional-product .is-title {
        margin-bottom: 35px;
        color: #ffffff;
}

@media only screen and (max-width: 800px) {
        .promotional-product .is-title {
            font-size:5rem;    
           
        }
    }

.promotional-product p {
        font-size: 2.2rem;
        line-height: 3.4rem;
        margin: 4rem 0;
}